.gitattributes export-ignore
.github export-ignore
.gitignore export-ignore
.phpcq.* export-ignore
.phpmd.xml
.phpunit.result.cache
phpunit.xml.dist export-ignore
psalm.xml export-ignore
/tests export-ignore
